.main
  background: #FFF
  box-shadow: 0 4px 33px rgba(0, 0, 0, 0.04)
  border-radius: 16px
  padding: 48px 32px 52px 32px

  &__list-hotel
    max-height: 550px
    overflow: auto

  &__wrapper
    display: flex
    align-items: center
    margin-bottom: 28px

  &__paragraph
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: normal
    font-size: 24px
    line-height: 28px
    color: #41522E
    margin-left: auto

  .main-slider
    margin-bottom: 28px
    width: calc(164px*3 + 12px*3 + 72px)

h2.main__title
    font-family: 'Roboto', sans-serif
    font-style: normal
    font-weight: 300
    font-size: 17px
    line-height: 22px
    letter-spacing: -0.408px
    color: #424242
    margin-bottom: 12px
    b
      font-family: 'Roboto', sans-serif
      font-style: normal
      font-weight: 500
      font-size: 17px
      line-height: 22px
      letter-spacing: -0.408px
      color: #41522E